extends index.pug
  


block content
  
    
   .container
    .row
        
        .col-lg-9
        .card.mt-4
          .container
            img.card-img-top.img-fluid(src='http://placehold.it/900x400', alt='' )
            .card-body
            h3.card-title Product Name
            h4 $24.99
            p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!
            span.text-warning ★ ★ ★ ★ ☆
            |             4.0 stars
        
          a.btn.btn-success(href='#') Update Post
          a.btn.btn-success(href='#') Delete Post
    